<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRODUTOS</h1>
    <hr>
    <a href="{% url 'cadastro' %}">Cadastrar</a>
    <hr> 
    <ul>
        {% for produto in produtos %}
        <li>
            {{produto.descricao}} |
            {{produto.preco}} |
            {{produto.quantidade}} 
            <a href="{% url 'atualiza' produto.id %}">Atualizar</a>
            <a href="{% url 'delete' produto.id %}">Excluir</a>
        </li>
        {% endfor %} 
    </ul>
    
</body>
</html>